.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin-left: 100px;
}

.image-content{
    margin-left: 130px;
    display: inline-block; 
    position: relative; 
    overflow: visible; 
}

.image-content img{
    width: 350px;
    height: 450px;
    box-shadow: 0 0 8px 8px rgb(4, 1, 18, 0.7);
}

footer{
    margin-left: 100px;
}
